#title {
	margin-left: 15%;
}

a {
	color: #3A3D4B;
}
a:hover {
	color: #7AB981;
}
.btn-info {
	background-color: #7AB981;
	border: #7AB981;
}

.btn-info:hover {
	background-color: #3A3D4B;
	border: #3A3D4B;
}