/*
nav1,
.navbar-brand,
.navbar-nav a {
  font-family: 'Merriweather', serif;
}
*/
.vertical-center {
/*    min-height: 90%; 
    min-height: 100vh; */
  
    display: flex;
    align-items: center;
}

#login {
  padding: 10px;
  border: none;
  margin-top: 15%;
}
h1 {
    /*text-align: center;*/
    margin-left: 10px;
    padding-top: 5px;
    position: relative;
    /*top: 260px;*/
    margin-right: 21.9%;
    font-family: 'Raleway', sans-serif;

}  

.title, label {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Josefin Sans', sans-serif;*/
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
}

#navbar {
  background-color: white;
}