.vertical-center {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

#register-card {
    border: none;
    font-family: 'Raleway', sans-serif;

}

h1 {
    margin-left: 20px;
}

#title {
    font-family: 'Raleway', sans-serif;

}
/*  h1 {
    text-align: center;
    padding-top: 5px;
	position: relative;
    top: 138px;
    margin-right: 16.6%;
} */